
          <div class="news">

            <!-- <h2>
              {% plaindetails Updates %}
              <h6>
              <table class="table table-sm table-borderless">
                {% assign papers_last_modified_date = site.static_files | where: "path", "_bibliography" | map: "modified_time" | sort | last %}
                {% assign software_last_modified_date = site.static_files | where: "path", "_software" | map: "modified_time" | sort | last %}
                  <tr>
                    <th scope="row">{{ papers_last_modified_date | date: "%b %-d, %Y" }}</th>
                    <td>
                      <a class="news-title" href="https://adeyemiadeoye.github.io/papers/" title="Papers" role="button" target="_self"> :memo: Papers </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">{{ software_last_modified_date | date: "%b %-d, %Y" }}</th>
                    <td>
                      <a class="news-title" href="https://adeyemiadeoye.github.io/software/" title="Software" role="button" target="_self"><i class="fa fa-code"></i> Software </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">{{  }}</th>
                    <td>
                      <a class="news-title" href=href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i> Google Scholar </a>
                    </td>
                  </tr>
              </table>
              </h6> -->
              <h6>
              {% if site.news != blank -%} 
              {%- assign news_size = site.news | size -%}
              <!-- <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 18.2vw"{% endif %}> -->
                <table class="table table-sm table-borderless">
                {%- assign news = site.news | reverse -%}
                {% if site.news_limit %}
                {% assign news_limit = site.news_limit %}
                {% else %}
                {% assign news_limit = news_size %}
                {% endif %}
                {% for item in news limit: news_limit %} 
                  <tr>
                    <th scope="row">{{ item.date | date: "%d-%m-%Y" }}</th>
                    <td>
                      {% if item.inline -%} 
                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                      {%- else -%} 
                        <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                      {%- endif %} 
                    </td>
                  </tr>
                {%- endfor %}
                </table>
              <!-- </div> -->

              {% plaindetails <i class="fas fa-hand-pointer"></i> **Updates** %}
                {% if news_limit >= news_size %}
                  <p>&emsp;<i>You're all caught up for now...</i></p>
                {% else %}
              <div class="table-responsive" {% if site.news_scrollable and news_size > 3 %}style="max-height: 18.2vw"{% endif %}>
                <table class="table table-sm table-borderless">
                {% for item in news %} 
                {% assign newsIndex = forloop.index %}
                {% if newsIndex > news_limit %}
                  <tr>
                    <th scope="row">{{ item.date | date: "%d-%m-%Y" }}</th>
                    <td>
                      {% if item.inline -%} 
                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                      {%- else -%} 
                        <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                      {%- endif %}
                    </td>
                  </tr>
                {% endif %}
                {% endfor %}
                </table>
              </div>
                {% endif %}
              {% endplaindetails %}

              {%- else -%} 
                <p>&emsp;<i>No news so far...</i></p>
              {%- endif %}
              </h6>

              <!-- {% endplaindetails %}
            </h2> -->
            
          </div>
          <hr>
