<aside class="site-sidebar" style="padding-right:0; padding-left:0;">
  <div class="sidebar d-flex flex-column" style="align-items: flex-start; background-image: url('{{ site.baseurl }}/assets/img/bg-side-3-freepik.jpg'); background-size: cover; background-position: center; background-repeat: repeat; overflow-x:hidden; padding: .75rem; min-height:100vh; box-sizing: border-box; width:100%;">
    <div class="sidebar-header text-center mb-3" style="width:100%;">
      <img src="{{ site.baseurl }}/assets/img/home-image.png" alt="Navigation" class="img-fluid" style="max-height:70px; display:inline-block;" loading="eager" fetchpriority="high">
      <h4 class="mt-2 mb-1" style="color:white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{%- if site.title == "blank" -%}
        {%- if site.first_name -%}
          {{ site.first_name }}&nbsp;
        {%- endif -%}
        {%- if site.middle_initial -%}
          {{ site.middle_initial }}&nbsp;
        {%- endif -%}
        {%- if site.last_name -%}
          {{ site.last_name }}
        {%- endif -%}
      {%- else -%}
        {{ site.title }}
      {%- endif -%}</h4>
    </div>

    {%- for p in site.pages -%}
      {%- if p.permalink == '/' -%}
        {%- assign about_title = p.title -%}
      {%- endif -%}
    {%- endfor -%}
    <ul class="list-unstyled w-100" style="padding:0;">
      <li class="mb-3 text-center" style="width:100%;"><a href="{{ '/' | relative_url }}" style="width:100%;">{{ about_title }}</a></li>

      {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
      {%- for p in sorted_pages -%}
        {%- if p.nav and p.autogen == nil and p.permalink != '/' -%}
          <li class="mb-3 text-center" style="width:100%;"><a href="{{ p.url | relative_url }}" style="width:100%;">{{ p.title }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <hr style="border-top:1px solid rgba(0,0,0,0.3); width:100%;">

    <div class="mb-3 social" style="width:100%; text-align:center; font-size: 20px;">
        <div class="contact-icons">
          {% include social.html %}
        </div>
    </div>

    <hr style="border-top:1px solid rgba(0,0,0,0.3); width:100%;">

    <div class="sidebar-footer text-center small" style="width:100%; color: var(--global-text-color);">
      <p style="margin-bottom:0.25rem;">&copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_initial }} {{ site.last_name }}.</p>
      <p style="margin-bottom:0.25rem; font-size: x-small;">{{ site.footer_text }}</p>
      {%- if site.impressum_path -%}
      <p style="margin-bottom:0.25rem;"><a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a></p>
      {%- endif -%}
      {%- if site.last_updated -%}
      <p style="margin-bottom:0.25rem;">Last updated: {{ "now" | date: '%B %d, %Y' }}.</p>
      {%- endif %}
    </div>

  </div>
</aside>