---
layout: default
---

<!-- about.html -->
<div class="container" style="max-width: 100%; margin-left: auto; margin-right: auto;">
  <div class="row">
    <aside class="col-md-3 d-none d-md-block">
      {% include sidebar.html %}
    </aside>

    <main class="col-md-10 content-with-sidebar">
      <div class="post">
        <header class="post-header text-center" style="padding-top:0rem; padding-bottom:1rem;">
          <div class="d-flex align-items-center justify-content-center flex-wrap" style="gap:1rem;">
            {%- assign align = page.profile.align | default: 'right' -%}
            {% if page.profile and page.profile.image %}
              {% if align == 'left' %}
                <div style="min-width:180px;">
                  <h6 class="post-title m-0" style="font-variant: normal; font-weight:500;">
                    {% if site.title == "blank" -%}
                      {{ site.first_name }}
                      {% if site.middle_initial %}
                        {{ site.middle_initial }}
                      {% else %}
                        {{ site.middle_name }}
                      {% endif %}
                      {{ site.last_name }}
                    {%- else -%}
                      {{ site.title }}
                    {%- endif -%}
                  </h6>
                  {% if page.profile and page.profile.address %}
                    <div class="mt-1 address" style="font-family:monospace; color:rgba(0,0,0,0.7);">
                      {{ page.profile.address }}
                    </div>
                  {% endif %}
                </div>
                <div style="max-width:140px; flex:0 0 auto;">
                  {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
                  {%- if page.profile.image_circular -%}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                  {%- else -%}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                  {%- endif -%}
                  {% include figure.html path=profile_image_path class=profile_image_class alt=page.profile.image -%}
                </div>
              {% else %}
                <div style="max-width:140px; flex:0 0 auto;">
                  {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
                  {%- if page.profile.image_circular -%}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                  {%- else -%}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                  {%- endif -%}
                  {% include figure.html path=profile_image_path class=profile_image_class alt=page.profile.image -%}
                </div>
                <div style="min-width:180px;">
                  <h1 class="post-title m-0" style="font-variant: normal; font-weight:800;">
                    {% if site.title == "blank" -%}
                      <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
                    {%- else -%}
                      {{ site.title }}
                    {%- endif -%}
                  </h1>
                  {% if page.profile and page.profile.address %}
                    <div class="mt-1 address" style="font-family:monospace; color:rgba(0,0,0,0.7);">
                      {{ page.profile.address }}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% elsif page.header_image %}
              {% if align == 'left' %}
                <div style="min-width:180px;">
                  <h1 class="post-title m-0" style="font-variant: normal; font-weight:800;">
                    {% if site.title == "blank" -%}
                      <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
                    {%- else -%}
                      {{ site.title }}
                    {%- endif -%}
                  </h1>
                </div>
                <div style="max-width:140px; flex:0 0 auto;">
                  {%- assign header_image_path = page.header_image | prepend: 'assets/img/' -%}
                  {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                  {% include figure.html path=header_image_path class=profile_image_class alt=page.header_image -%}
                </div>
              {% else %}
                <div style="max-width:140px; flex:0 0 auto;">
                  {%- assign header_image_path = page.header_image | prepend: 'assets/img/' -%}
                  {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                  {% include figure.html path=header_image_path class=profile_image_class alt=page.header_image -%}
                </div>
                <div style="min-width:180px;">
                  <h1 class="post-title m-0" style="font-variant: normal; font-weight:800;">
                    {% if site.title == "blank" -%}
                      <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
                    {%- else -%}
                      {{ site.title }}
                    {%- endif -%}
                  </h1>
                </div>
              {% endif %}
            {% else %}
              <div>
                <h1 class="post-title m-0" style="font-variant: normal; font-weight:800;">
                  {% if site.title == "blank" -%}
                    <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
                  {%- else -%}
                    {{ site.title }}
                  {%- endif -%}
                </h1>
              </div>
            {% endif %}
            <!-- Education: -->
            <div style="margin-left:15%; max-width:40%; padding-left:0rem; text-align: left;">
              <h6 class="post-title m-0" style="font-variant: normal; font-weight:500;">Education</h6>
              <ul style="list-style:disc; padding-left:1rem; font-size: smaller;">
                <li>Ph.D. in Systems Science, June 2025<br>IMT School for Advanced Studies Lucca</li>
                <li>M.Sc. in Machine Intelligence, Mar 2021<br>African Institute for Mathematical Sciences</li>
                <li>M.Sc. in Mathematical Sciences, 2018<br>African Institute for Mathematical Sciences</li>
                <li>B.Sc. in Mathematics, 2016<br>University of Ilorin</li>
              </ul>
            </div>
          </div>
          
        </header>

        <article>
          <div class="clearfix mt-3">
            {{ content }}
          </div>

          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          <div class="row mt-3">
            <div class="col-sm mt-3 mt-md-0 text-center">
                <h6 style="text-align: center;"><a href="{{ site.baseurl }}/publications/" target="_self" class="post-title m-0" style="font-variant: normal; font-weight:500;">Publications</a></h6>
                <div class="rounded-image-wrapper" style="position: relative; max-width: 60%;">
                  <a href="{{ site.baseurl }}/publications/" target="_self">
                    {% include figure.html path="assets/img/home-image.gif" class="img-fluid z-depth-0" zoomable=false %}
                    <span class="made-with-tikz">Made with TikZ+GIMP</span>
                  </a>
                </div>
            </div>
            <div style="margin-left:auto; max-width:60%; padding-right:10rem;">
            {% if page.news -%}
            <!-- News -->
            {%- include news.html %}
            {%- endif %}
            </div>
          </div>
          
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

      </div>
    </main>
  </div>
</div>
